.feedback {
    width: calc(41% - 148px);
    padding: 18px 34px;

    &__more {
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #0093d5;
        color: white;
        font-size: 12px;
        font-weight: bold;
        padding: 6px;
        outline: none;
        &:hover {
            border: 1px solid #cccccc;
            cursor: pointer;
        }
        &:disabled {
            display: none;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-align: left;
        margin-bottom: 20px;
    }
    &__card {
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
        border-radius: 5px;
        margin-bottom: 35px;
        position: relative;
        &__header {
            display: flex;
            align-items: center;
            margin-bottom: 13px;
            &__photo {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            &__name {
                font-size: 14px;
                font-weight: bold;
                color: rgba(41, 41, 41, 1);
                margin-left: 10px;
            }
        }
        &__input {
            width: 100%;
            min-height: 34px;
            border: 1px;
            outline: none;
            text-align: left;
            &::placeholder {
                font-weight: 400;
            }
        }
        &__btn {
            text-align: right;
            &__comment {
                background-color: rgb(3, 168, 124);
                border: rgb(3, 168, 124);
                color: rgb(255, 255, 255);
                height: 35px;
                border-radius: 6px;
                letter-spacing: 0px;
                padding: 1px 12px;
                margin-left: 4px;
                font-weight: bold;
                outline: none;
                cursor: pointer;
                &:disabled{
                    cursor: default;
                    opacity: 0.5;
                }
            }
        }
    }
}

.my-enter {
    opacity: 0.01;
    transform: translate(-40px, 0)
}

.my-active-enter{
    opacity: 1;
    transform: translate(0, 0);
    transition: all 500ms ease-in;
}
.my-exit{
    opacity: 1;
    transform: translate(0, 0)
}

.my-active-exit{
    opacity: 0.01;
    transform: translate(40px, 0);
    transition: all 500ms ease-in;
}