.feedback {
    &__item {
        margin-bottom: 33px;
        border-bottom: 1px solid rgba(230, 230, 230, 1);
        &__header {
            display: flex;
            align-items: center;
            min-height: 40px;
            margin-bottom: 13px;
            justify-content: space-between;
            &__left{
                display: flex;
                align-items: center;
                &__photo {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
                &__text{
                    margin-left: 10px;
                    font-size: 13px;
                    font-weight: 600;
                    text-align: left;
                    &__name {
                        color: #292929;
                    }
                    &__date{
                        color: rgba(117, 117, 117, 1);
                        margin-top: 3px;
                    }
                }
            } 
            &__right{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: #ff00001c
                }
            }
            &__confirm {
                display: flex;
                align-items: center;
                &__text {
                    font-size: 12px;
                    font-weight: bold;
                    margin-right: 4px;
                }
                &__cancel {
                    border: 1px;
                    background: #0094d4;
                    color: white;
                    font-size: 12px;
                    margin-right: 4px;
                    cursor: pointer;
                    outline: none;
                    width: 31px;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
                    border-radius: 4px;
                    padding: 5px;
                }
                &__confirm {
                    border: 1px solid #abb8c2;
                    font-size: 12px;
                    color: #4b4b4b;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
                    border-radius: 4px;
                    padding: 5px;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
        &__text {
            text-align: left;
            font-size: 14px;
        }
        &__footer {
            &__wrap {
                text-align: left;
                display: flex;
                align-items: center;
                margin: 6px 0px;
                &__heart{
                    position: relative;
                    right: 13px;
                    height: 36px;
                    width: 36px;
                    &__icon {
                        cursor: pointer;
                        height: 50px;
                        width: 50px;
                        background-image:url('../../../resources/images/heart.png');
                        background-position: left;
                        background-repeat:no-repeat;
                        background-size:2900%;
                        position: relative;
                        right: 7px;
                        bottom: 6px;
                        
                        &__animating {
                            animation: heart-burst .8s steps(28) 1;
                        }
                        &__clicked{
                            background-position: right;
                        }
                    }
                    &:hover{
                        // background-position: right;
                        border-radius: 50%;
                        background-color: #ff00001c;
                    }
                }
                &__number {
                    position: relative;
                    font-size: 12px;
                    color: #8c8b8b;
                    &__clicked{
                        color: #d60505;
                    }
                }
            }
            
        }
    }
}

@keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
}